.oi{
  height: 70px;
}

.kj{
  height: 270px;
}

.fg{
  text-align: center;
}

.bv{
  height: 430px;
}

.qw{
  height: 75px;
}

.jh{
  background-color: mediumblue
}

.jh{
  color: white;
}

.jh{
  
}

.gh{
  text-align: center;
}

.bil{
  text-align: center;
}

.nb{
  background-color: mediumblue
}

.nb{
  color: white;
}

.po{
  background-color: mediumblue
}

.po{
  color: white;
}

.kauan{
  background-color: limegreen
}

.kauan{
  color: white;
}

.kauan{
  margin: 13px
}

.kauan{
  font-size: 13px
}

.pai{
  background-color: mediumblue
}

.pai{
  color: white;
}

.pai{
  text-align: center;
}

.bx{
  height: 620px;
}

.vx{
  height: 260px;
}